extends /base.jade
block head
  script(type="text/javascript",src="index.js")
block body
  include /mixin.jade
  .block800
    .text-center
      h1 2017年台灣資料新聞與數位新聞專輯工作者現狀
      small.grayed 2017年11月4日

    h2 關於作者
    p Hacks/Hackers Taipei是全球非營利新聞社群Hacks/Hackers的台北分支，2016年10月由一群關心新聞x科技發展的朋友組成，將透過不定期的工作坊、黑客松、案例分享會，鼓勵記者編輯（"hacks"）和程式設計師（"hackers"）相互學習、合作，一起想像新聞的未來。 

    h2 本報告授權
    p 本報告全文： CC-BY-SA 4.0 International-Open Culture Foundation 

    h2 摘要 

    p 台灣媒體近幾年不斷嘗試運用新的科技工具來敘事，Hacks/Hackers Taipei在10月透過線上問卷調查，希望了解這些報導背後的媒體工作者現況。根據回收的問卷顯示，工作者橫跨記者、編輯、設計師和前端工程師等角色，但多數人從事相關新技術敘事的經驗不滿三年，發展仍在起步階段。而在工作挑戰上，受訪者除了對程式語言等「硬技能」有學習需求，對組織內溝通協調的「軟技能」也明顯感到吃力。

    h2 什麼是資料新聞？什麼是數位新聞專輯？

    p 資料新聞或數位新聞專輯是近年來在國內外竄紅的新聞關鍵詞。前者大量運用數據作為新聞敘事主軸，後者則強調運用網頁、科技工具的特性，協助新聞敘事與新技術的結合。

    p 在討論工作者的現況之前，我們先透過台灣媒體案例，來定義什麼是運用新科技工具來改變傳統的新聞敘事。

    ol
      li
        h3 以新科技工具或多媒體來敘事 
        ul
          li 《蘋果日報》「360 追蹤報導台北德祥號石門擱淺漏油事件」：http://360view.appledaily.com.tw/appledaily/360/news/20160811/steamship/index.html
          li 《聯合報》新媒體中心「李智凱 15年翻滾人生 拚1秒完美落地」：http://bit.ly/2w86kOb 
      li
        h3 從數據資料找新聞點（資料新聞）
        ul
          li 《天下雜誌》「數據看天下」欄目：http://www.cw.com.tw/search/doSearch.action?key=%E6%9E%97%E4%BD%B3%E8%B3%A2 
          li 《鏡傳媒》「台北不是我的家」：https://www.mirrormedia.mg/projects/rent-house/?utm_source=facebook&utm_medium=mmpage 
      li
        h3 重新思考讀者或社群在新聞產製中的位置 
        ul
          li 《g0v news》 「黑客公務員血汗之路」：https://gov-hackers.g0v.news/ 
          li 《報導者》 「「蔡英文勞動政策平台等你來追蹤」： https://www.twreporter.org/a/tsai-tracker 
          li 《沃草》「同志結婚會滅國？醒醒吧，你沒有__ 」：https://musou.watchout.tw/map/748/ 


    //-  
      問卷結果

      在今年10月，我們透過Hacks/Hackers Taipei臉書社團、臉書新媒體社團發送線上問卷，共蒐集到21位台灣工作者的心聲。樣本少，某方面反應出從事相關工作者的稀少。雖然只回收21份問卷，但也有機會能一窺台灣工作者從事資料新聞與數位新聞專輯的概況。

      以下，是這次的調查結果：


      1.工作者的相關經驗尚淺。

      有86％的受訪者，擁有相關數位專輯、資料新聞的工作經驗不滿3年。





      2. 兩成受訪者是「一人工作」

      多數受訪者是1～5人團隊合作，但有兩成的工作型態是「一人工作」。






      3. 工作內容以圖表製作、數位專輯製作為主。

      根據受訪者的填答，工作職稱大多以「編輯」、「設計師」為主，這也呼應到實質工作內容上：製作數位新聞專輯、設計圖表。















      反應到日常工具上，也集中在基本圖表設計軟體或基礎網頁語言與免費線上工具。



      4. 三成沒有固定出版頻率、近四成沒有KPI。





      5. 工作挑戰

      根據「總的來說，你認為目前做這份工作，最感到無力的是什麼？（可多選）」這項提問，以下是工作者選出的前五大挑戰。

      組織內部溝通（包含對上、對下、跨部門）（66.7%）
      沒有時間學習新技能（52.4%）
      公司文化（38.1%）
      缺乏額外人力協助（33.3%）
      沒有任何程式基礎（28.6%）
      有升遷瓶頸（28.6%）


      針對以上挑戰，我們也請受訪者進一步用詳細文字來描述痛點，以下是經歸納後的挑戰面向：

      5-1. 個人軟、硬能力不足

      受訪者都一致選擇了「組織內部溝通協調（66.7％）」以及「沒有時間學習新技能（52.4％）」作為工作痛點。後者透露出行業變動太快，難以跟上新技術的常見難題，同時，也顯示出組織內或個人缺乏學習與訓練：

      受訪者A：「文組出生，coding的部份只能碰多少學多少，難有機會有系統的學起」

      受訪者B：「工程能力不足，僅能靠土炮」

      至於前者「組織內部溝通協調」，則透露出工作者欠缺軟性技能的窘境。當因爲能力不足或受限時間壓力，必須向其他功能的同事或部門求助時，卻缺乏良好的溝通方式或平台工具：


      受訪者C：「想呈現的東西需要程式協助時，需要跨部門很麻煩，一般只能找網路類似的套見功能去做。」

      受訪者D：「編輯出身，轉職做數位專題製作人（PM），一人身兼多職（專題企畫、記者、編輯、專案進度管理、社群行銷、專案績效評估），很多職能缺乏專業訓練和分工，執行上經常感到吃力。」


      受訪者E：「缺好PM啊，求介绍」


      5-2. 公司數位基礎建設不足

      要使用新的互動技術敘事，回頭總要考量到如何把報導或專輯輸入到內容管理平台（CMS）或典藏系統（Archive），未來才能重複使用，或是透過不同的API接口，將報導或專輯派送到不同的媒體平台上。但這裡也存在了矛盾點：公司典藏或CMS系統若無法收藏新的互動敘事，該怎麼辦？

      受訪者E：「Cms老舊，要在一般文章內inject JavaScript 很麻煩很崩潰，最後往往只能iframe。」

      5-3. 組織文化  

      採用新技術敘事，難以像過往的媒體組織，採取前製、後製一刀切的分工方式，而需要不同角色的相互交融與來回討論。組織層級架構太多，不利於製作流程推進：

      受訪者F：「細項目標搖擺不定，且公司層級太多，一見一層層轉譯，原本意思早已消失。製作風格多少要遵循公司文化，對某些議題來說，難發揮。」

      5-4. 投資回報不明

      一個明確而未解的挑戰是：如何評估人力投資和衡量新敘事的產出？


      受訪者L：「人力與時間所需的資源與成.    
      本，跟產出效率之間的競爭問題。」


      受訪者G：「公司愈來愈強調文章的網路流量，但資料新聞並非讀者習慣的閱讀內容，因此流量差強人意。」


      受訪者I：「由於新媒體作品與市場需求之間的運作機制不明確，因此在規劃服務內容與方向時，很容易會產生東試一點、西做一點狀況，沒有明確的對消費者生產目標，會出現對外訊息溝通不夠明確的狀況。也自然很難規模化，甚至將模式延伸到組織的其他部分。」

      5-5. 未來發展與升遷不明

      相較於傳統記者或編輯，在媒體組織內有明確的晉升階梯，這些懂得使用新技術敘事的工作者們，面對組織對數位敘事的態度曖昧，以及新技術敘事的投資回報不明，有23.8％的受訪者認為未來工作沒有發揮空間，也有28.6%、14.3％的受訪者認為有「升遷瓶頸」、「轉職瓶頸」：

      受訪者M：「沒有明確的升遷管道」

      受訪者N：「台灣媒體不願意投資新敘事
      方式，仍習慣操作傳統新聞敘事。」


      6. 未來希望學習技能：專案管理、Javascript、Python 
      呼應到以上現有技能、還有工作上的挑戰，多數受訪者認為，自己在未來一年內希望學習專案管理，以及進階的程式語言（動態網頁語言Javascript與資料分析語言Python）。




      結論 

      目前在台灣嘗試用科技工具進行新型態新聞敘事的工作者，相關工作經驗不滿3年，職稱多半使用「編輯」或「設計師」，常用的工具集中在基礎設計軟體或基礎網頁語言，自認最大的挑戰是沒有時間學新技能，以及無法處理好組織內部的溝通協調。（還沒寫完。。。。）


      延伸閱讀

      Google News Lab's "Data journalism in 2017: https://newslab.withgoogle.com/assets/docs/data-journalism-in-2017.pdf

      聯合報新媒體中心製作心得與研究：http://udnnewmedia.wixsite.com/mysite

      鏡傳媒專輯製作心得：https://medium.com/mirrormedia

      報導者開放實驗室： https://medium.com/twreporter

      沃草「公民組織作為一種科技」：https://drive.google.com/file/d/0B0_YPEd1FltUcEFaemViVHhHZXc/view





