extends /base.jade
block head
block body
  nav.navbar.navbar-default.navbar-inverse
    .container-fluid(style="max-width:1024px;margin:auto")
      .navbar-header
        a.navbar-brand(href="/",style="padding:6px"): img(src="img/icon-navbar.png",style="width:38px")
      .collapse.navbar-collapse
        ul.nav.navbar-nav
          li.active: a(href="#") about
  #root.about
    img(src="img/banner-md.png",style="width:80%;max-width:480px;margin:auto;display:block")
    h3 #[i.hh] 什麼是 Hacks/Hackers？
    p #[a(href="http://hackshackers.com/") Hacks/Hackers（簡稱H/H）] 是由美國西北大學新聞學院教授Rich Gordon、Storify創辦人Burt Herman、前紐約時報互動新聞主編Aron Pilhofer從2009年開始逐漸發展出的非營利新聞社群，鼓勵記者編輯（Hacks）和程式設計師（Hackers）相互學習、合作，一起想像新聞的未來。
    p 目前全球已有35個國家、75個城市建立Hacks/Hackers分支（chapter），其他城市的活動可以看#[a(href="http://www.meetup.com/hacks-hackers-nyc/?https=off") 這裡]、#[a(href="https://github.com/HacksHackersAfrica/wiki/wiki/Hacks-Hackers-Charter") 這裡]以及#[a(href="http://hackshackers.com/chapters/") 這裡]。
    //-simpla-text(sid="brief")
    br
    h3 #[i.hh] HacksHackers Taipei是什麼？
<<<<<<< HEAD
    p 繼香港、東京、北京成立Hacks/Hackers分支之後，2016年9月由一群關心新聞x科技發展的朋友在台北成立Hacks/Hackers的亞洲第四站。
=======
    p 繼香港、東京、北京成立Hacks/Hackers分支之後，2016年10月由一群關心新聞x科技發展的朋友在台北成立Hacks/Hackers在亞洲的第四站。
>>>>>>> origin/master
    br
    h3 #[i.hh] 我們要做什麼？
    p 我們希望能促進交流、刺激想法，會不定期舉辦線下聚會，透過教學工作坊、案例分享、黑客松等形式鼓勵參與者交換技術和想法。如果你有任何點子和建議，歡迎email給我們：hackshackerstaipei &#64; gmail.com
    br
    h3 #[i.hh] 怎麼追蹤我們？
    p 歡迎透過#[a(href="http://hackshackers.taipei") 網站]、#[a(href="https://www.facebook.com/groups/868771643258752/") Facebook]、#[a(href="https://twitter.com/hackshackerstpe") Twitter]、#[a(href="https://github.com/hackshackerstaipei") github]、#[a(href="https://hhtpe.slack.com/") Slack]參與討論，或是訂閱我們的#[a(href="https://github.com/hackshackerstaipei/newsletter") 週報]、訂閱#[a(href="https://calendar.google.com/calendar/embed?src=4f9ctnr08nmq02hfs7vbu8l9f0%40group.calendar.google.com&ctz=Asia/Taipei") Google Calendar]追蹤最新活動。
    br
    hr

    h3 #[i.hh] What is Hacks/Hackers?
    p The roots of Hacks/Hackers were planted in 2009, co-founded by Aron Pilhofer of The New York Times, Rich Gordon from Northwestern University’s Medill School of Journalism, Burt Herman, a former AP foreign correspondent fresh from a Knight journalism fellowship at Stanford University. Hacks/Hackers  grew from an initial chapter in the Bay Area in late 2009 to flourishing chapters in New York, Boston, Austin and other cities during 2010. Hacks/Hackers has also gone international, with chapters launching in Latin America, Europe, Australia and Asia. 
    p Hacks/Hackers’ mission is to create a network of journalists (“hacks”) and technologists (“hackers”) who rethink the future of news and information.
    br
    h3 #[i.hh] What is Hacks/Hackers Taipei? 
    p Founded in Oct 2016 by a group of friends, who cares about what technology can do for journalism and vice versa. Abide by the #[a(href="https://github.com/HacksHackersAfrica/wiki/wiki/Hacks-Hackers-Charter") Hacks/Hackers Chapter]. 
    br
    h3 #[i.hh] What do we do?
    p Our mission is to spread knowledge, information and ideas. Activities include workshops, talks, hackathons and demo days. If you have any ideas, please email us at hackshackerstaipei &#64; gmail.com.
    br
    h3 #[i.hh] How to keep connected?
    p You can find us on our #[a(href="http://hackshackers.taipei") website], #[a(href="https://www.facebook.com/groups/868771643258752/") facebook group], #[a(href="https://twitter.com/hackshackerstpe") twitter], #[a(href="https://github.com/hackshackerstaipei") github], #[a(href="https://calendar.google.com/calendar/embed?src=4f9ctnr08nmq02hfs7vbu8l9f0%40group.calendar.google.com&ctz=Asia/Taipei") google calendar] and #[a(href="https://github.com/hackshackerstaipei") Slack]. 
    br
