@import url("http://fonts.googleapis.com/earlyaccess/notosanstc.css");
html,
body {
  color: #444;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
html.font-loaded body,
html.font-loaded h1,
html.font-loaded h2,
html.font-loaded h3,
html.font-loaded h4,
html.font-loaded h5,
html.font-loaded h6 {
  font-family: 'Noto Sans TC', sans-serif;
}
#land-banner {
  width: 100%;
  height: 350px;
  background: url("img/bk.jpg") top center #eee;
}
#land-banner .row {
  max-width: 1024px;
  width: auto;
  margin: auto;
}
#land-banner .inner {
  padding: 150px 0 0;
}
#land-banner .banner {
  width: 400px;
  margin: 50px;
}
#land-banner .state {
  position: absolute;
  display: inline;
  top: 5px;
  z-index: 10;
  margin: 0 0 0 -32px;
}
#land-banner .state .loader,
#land-banner .state i.fa {
  position: absolute;
  opacity: 0;
}
#land-banner .state i {
  display: inline-block;
  font-size: 24px;
}
#land-banner .loader {
  width: 24px;
}
#land-banner .follow i.fa {
  font-size: 1.5em;
  vertical-align: top;
  margin-left: 10px;
}
#subscribe .ok {
  display: none;
}
#subscribe.ok .ok {
  display: inline-block;
}
#subscribe.has-error input {
  border-color: #f00;
}
#subscribe.has-error i.fa.fa-close {
  opacity: 1;
}
#root {
  max-width: 1024px;
  margin: auto;
}
#nav {
  max-width: 800px;
  margin: 20px auto;
  background: none;
  border: none;
}
#nav .nav > li {
  float: left;
}
#footer {
  margin-top: 100px;
  border-top: 1px solid #ccc;
  padding: 20px;
  max-width: 1024px;
  margin: auto;
}
.grayed {
  color: #999;
}
@media (max-width: 768px) {
  #land-banner .row {
    margin: 0;
    text-align: center;
  }
  #land-banner img {
    max-width: 80%;
    margin: 5px 10%;
    max-height: 203px;
  }
  #land-banner .inner {
    padding: 20px;
  }
  #nav .nav li span {
    display: none;
  }
  #footer .pull-right {
    display: none;
  }
  #root {
    padding: 10px;
  }
}
@media (max-width: 440px) {
  #land-banner img {
    margin: 20px 10%;
  }
}
.about p {
  margin: 20px;
}
i.hh {
  display: inline-block;
  width: 12px;
  height: 12px;
  vertical-align: middle;
  background: url("img/hh.svg") center center no-repeat;
}
.avatar {
  display: block;
  border-radius: 50%;
  margin: auto;
}
.speaker {
  text-align: center;
}
