@import url("http://fonts.googleapis.com/earlyaccess/notosanstc.css");
@import url("https://fonts.googleapis.com/css?family=Hind|Montserrat");
@font-face {
  font-family: hhtpe-zh;
  src: local("Heiti TC");
  url: local("微軟正黑體");
  url: local("Microsoft JhengHei");
  url: sans-serif;
  unicode-range: U+4E00-9FFF;
}
html,
body {
  color: #333;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 18px;
}
img {
  max-width: 90%;
  margin: auto;
}
html.font-loaded body {
  font-family: hhtpe-zh, Hind, Montserrat, Arial, sans-serif;
}
html.font-loaded h1,
html.font-loaded h2,
html.font-loaded h3,
html.font-loaded h4,
html.font-loaded h5,
html.font-loaded h6 {
  font-family: hhtpe-zh, Montserrat, Hind, Arial, sans-serif;
}
h2 {
  margin: 30px 0;
  background: #ff8853;
  padding: 20px 10px;
  color: #fff;
  border-radius: 5px;
}
h3 {
  border-bottom: 1px solid #999;
  margin-bottom: 30px;
  padding-bottom: 10px;
}
a {
  color: #0db4ba;
}
#land-banner {
  width: 100%;
  height: 210px;
  background: url("img/bk.jpg") top center #222;
}
#land-banner .row {
  max-width: 1024px;
  width: auto;
  margin: auto;
}
#land-banner .inner {
  padding: 50px 0 0;
  color: #fff;
}
#land-banner .inner label {
  font-weight: 200;
}
#land-banner .banner {
  width: 400px;
  margin: 0;
}
#land-banner .state {
  position: absolute;
  display: inline;
  top: 5px;
  z-index: 10;
  margin: 0 0 0 -32px;
}
#land-banner .state .loader,
#land-banner .state i.fa {
  position: absolute;
  opacity: 0;
}
#land-banner .state i {
  display: inline-block;
  font-size: 24px;
}
#land-banner .loader {
  width: 24px;
}
#land-banner .follow i.fa {
  font-size: 1.5em;
  vertical-align: top;
  margin-left: 10px;
}
#subscribe .ok {
  display: none;
}
#subscribe.ok .ok {
  display: inline-block;
}
#subscribe.has-error input {
  border-color: #f00;
}
#subscribe.has-error i.fa.fa-close {
  opacity: 1;
}
#root {
  max-width: 1024px;
  margin: auto;
}
#nav {
  background: #0db4ba;
  border: 0;
  border-radius: 0;
}
#nav > div {
  max-width: 1024px;
  margin: 10px auto;
  background: none;
  border: none;
}
#nav > div .nav > li {
  float: left;
}
#nav > div .navbar-nav > li.active > a {
  background: #fff;
  color: #0db4ba;
  border-radius: 3px;
}
#nav.navbar-default .navbar-nav > li > a {
  color: #fff;
}
#footer {
  margin-top: 100px;
  border-top: 1px solid #ccc;
  padding: 20px 20px 40px 20px;
  max-width: 1024px;
  margin: auto;
  min-height: 80px;
}
#footer .pull-right {
  margin-top: -5px;
}
.grayed {
  color: #999;
}
@media (max-width: 768px) {
  #land-banner .row {
    margin: 0;
    text-align: center;
  }
  #land-banner img {
    max-width: 80%;
    margin: 5px 10%;
    max-height: 203px;
  }
  #land-banner .inner {
    padding: 20px;
  }
  #nav .nav li span {
    display: none;
  }
  #footer .pull-right {
    display: none;
  }
  #root {
    padding: 10px;
  }
}
@media (max-width: 440px) {
  #land-banner img {
    margin: 20px 10%;
  }
}
.about p {
  margin: 20px;
}
i.hh {
  display: inline-block;
  width: 12px;
  height: 12px;
  vertical-align: middle;
  background: url("img/hh.svg") center center no-repeat;
}
.avatar {
  display: block;
  border-radius: 50%;
  margin: auto;
}
.speaker {
  text-align: center;
}
.speaker .brief {
  font-size: 0.85em;
  text-align: left;
}
.speaker .title {
  font-size: 0.8em;
  opacity: 0.5;
  margin: 0 0 15px;
}
.speaker .name {
  margin: 10px 0 0;
  font-size: 1.2em;
  font-weight: 900;
}
.event {
  border-radius: 5px;
  padding: 10px 30px;
  border: 0px solid #999;
  margin-bottom: 100px;
  padding-bottom: 100px;
  border-bottom: 12px dashed #eee;
}
.event h3 {
  text-align: center;
  font-size: 2em;
  font-weight: 900;
  margin: 40px 0;
}
.event h4 {
  font-size: 1.3em;
  font-weight: 900;
  margin-bottom: 15px;
  text-decoration: underline;
  margin-left: -5px;
}
.event .cta {
  margin: 50px;
  padding: 20px 40px;
  width: 100%;
  max-width: 480px;
}
.red {
  color: #d41;
}
table.agenda {
  box-shadow: 0 0 0 6px #eee;
}
table.agenda td:first-child,
table.agenda th:first-child {
  text-align: right;
  border-right: 2px solid #bbb;
}
table.agenda td:first-child {
  border-left: 4px solid #d41;
}
table.agenda td,
table.agenda th {
  padding: 5px 10px;
  border-bottom: 6px solid #fff;
}
table.agenda td.content {
  text-align: left !important;
  padding: 5px 40px 40px;
  border: 0;
  border-bottom: 4px solid #fff;
}
table.agenda td.content blockquote {
  background: #f9f9f9;
  padding: 20px;
}
table.agenda th {
  background: #f9f9f9;
}
@media (max-width: 768px) {
  .event .cta {
    margin: 10px auto;
    max-width: 90%;
  }
  .speaker {
    margin-bottom: 60px;
  }
  table.agenda {
    display: block;
  }
  table.agenda tr,
  table.agenda td {
    display: block;
  }
  table.agenda th {
    display: none;
  }
  table.agenda td:first-child {
    text-align: center;
    border: 0;
    background: #f9f9f9;
  }
  table.agenda td:nth-child(2) {
    text-align: left;
    padding: 15px 15px 0;
    font-size: 0.9em;
  }
  table.agenda td.content {
    font-size: 0.9em;
    background: #fff;
    padding: 0 0 0 10px;
  }
  table.agenda td.content blockquote {
    background: none;
  }
}
