extends /base.jade
block head
  script(type="text/javascript",src="index.js")
block body
  #land-banner
    .row
      .col-sm-7
        img.banner(src="img/banner.png")
      .col-sm-5: .inner
        label subscribe to our latest event:
        #subscribe.input-group(style="position:relative")
          input.form-control(placeholder="Your Email Address")
          .state
            img.loader(src="img/loader.gif")
            i.fa.fa-close.text-danger
          span.input-group-btn
            .btn.btn-default(data-toggle="tooltip",data-placement="top")
              span Subscribe#[span.ok d] &nbsp;
              i.ok.fa.fa-check.text-success
        br
        .pull-right.follow
          label ... or follow us on
          a(href="https://www.facebook.com/groups/868771643258752/",target="_blank"): i.fa.fa-facebook-square
          a(href="https://twitter.com/hackshackerstpe",target="_blank"): i.fa.fa-twitter-square
          a(href="https://hhtpe.slack.com",target="_blank"): i.fa.fa-slack
          a(href="https://www.youtube.com/channel/UCyU45fgMo-jLs9W4h5f701w",target="_blank"): i.fa.fa-youtube

  nav#nav.navbar.navbar-default
    div
      .navbar-header
      .navbar-collapse
        ul.nav.navbar-nav.navbar-right.pull-right
          li: a(href="https://github.com/hackshackerstaipei",target="_blank") #[span github] #[i.fa.fa-github]
          li: a(href="https://calendar.google.com/calendar/embed?src=4f9ctnr08nmq02hfs7vbu8l9f0%40group.calendar.google.com&ctz=Asia/Taipei",target="_blank") #[span calendar] #[i.fa.fa-calendar]
          li: a(href="http://hackfoldr.org/hhtpe",target="_blank") #[span hackfoldr] #[i.fa.fa-folder]
        ul.nav.navbar-nav
          li.active: a(href="#") events
          li(data-toggle="tooltip",data-placement="top",title="coming soon!"): a(href="#") projects
          li: a(href="/about.html") about

  #root
    h2 最新活動
    .event
      img(src="img/event/170416/banner.jpg",style="width:100%;margin-top:20px")
      h5.grayed.pull-right Hacks/Hackers Taipei  ft.  g0v.news
      h3 第一次翻轉新聞松來了！ / #[small.grayed 2017/04/16]
      .pull-right.text-center
        img(src="img/banner-sm.png")
        img(src="img/g0v-news.png",style="width:80px")
      blockquote
        h4 想用新科技解決當前的新聞難題嗎？
        h4 想通過科技方式加快新聞產製流程？
        h4 想知道參與黑客松對新聞有什麼幫助嗎？

      p 4月16日(日)，#[a(href="http://hackshackers.taipei") Hacks/Hackers Taipei] 將聯合 #[a(href="https://g0v.news",target="_blank") g0v.news] 共同舉辦翻轉新聞松（Hacking Journalism），邀請記者、編輯、設計師、前後端工程師，透過一天的活動，一起動腦、一起實作，跨界打造能實際解決當前新聞問題的報導或新聞產品。
      a.btn.btn-lg.btn-info.btn-block(href="http://www.accupass.com/go/hhtpexg0vnews",target="_blank") 現在就報名！
      hr
      h4: b 活動時間
      div 2017年4月16日(日) (#[a(href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=aGgyMW5vazBqZzdzM2tkdWxsamNubzRuaGsgNGY5Y3RucjA4bm1xMDJoZnM3dmJ1OGw5ZjBAZw&tmsrc=4f9ctnr08nmq02hfs7vbu8l9f0%40group.calendar.google.com") 加到我的 Google Calendar])
      br
      h4: b 活動地點
      div  TAF 空總創新基地「士官大樓」3F ( #[a(href="https://goo.gl/maps/V5FkrJQXfqq",target="_blank") 台北市大安區建國南路一段177號] / #[a(href="http://taiwanairforce.org/%E4%BA%A4%E9%80%9A%E8%B3%87%E8%A8%8A/",target="_blank") 詳細交通資訊] / 感謝極客窩提供場地 )
      br

      h4: b 適合參與對象
      p 記者、編輯、前後端工程師、設計師、插畫家、創業家、新聞傳播學院師生、或任何關心新聞媒體發展的朋友，你可能有想做的報導，但缺乏跨界幫忙；也可能你有好的科技點子，但希望讓更多新聞人認識；又或是你只是單純好奇黑客松是什麼？黑客松跟新聞人到底有什麼關係？通通歡迎參加！
      br

      h4: b 報名方式
      p 4月10日（星期日）開放網路報名：#[a(href="http://www.accupass.com/go/hhtpexg0vnews",target="_blank") www.accupass.com/go/hhtpexg0vnews]
      ul
        li 票券種類：分1)記者編輯、2)前後端工程師、3)設計師三種票，請依照您個人專長或興趣選擇合適的票種報名。
        li 票券費用：0元，但報到當天需繳交新台幣150元的午餐費用（為了方便大家邊吃邊討論，預計提供能一手拿的食物。素食者煩請報名時註明）。
      br

      h4: b 活動方式
      p 帶著問題和方向來參與：先上網（http://beta.hackfoldr.org/news-hackathon）登記你的提案，若事先沒有計畫的人，也能到了現場再分組。
      p 可單槍匹馬或組隊參加：一個完整的科技方案，少不了新聞人、科技人、設計師等多元協作。你可以帶著點子單槍匹馬報名，現場招兵買馬，或能事前在Hacks/Hackers Taipei粉絲團po文，號召參與者。
      p 為鼓勵開源協作，本活動當天所產出的程式碼及內容，將以開源的授權條款 （MIT, CC 等）釋出。活動結束後所產生的內容，則不在此限。
      br

      h4: b 活動流程
      ul
        li 10:40 入場
        li 11:00 開場、提案 (1個提案：3分鐘）
        li 11:40 自介、午餐、交流
        li 18:00 成果報告
        li 19:00 收播，閒聊，散會
      br

      h4: b 如何提案
      ul
        li 提案登記：#[a(href="https://goo.gl/z0XzQw",target="_blank") goo.gl/z0XzQw]
        li 空白提案表 (這是範本，請勿更動。請先複製一份再編輯)：#[a(href="https://goo.gl/QsMoct",target="_blank") goo.gl/QsMoct]
        li 提案範例1：「黑客公務員的血汗之路」小遊戲 #[a(href="https://goo.gl/URVM6v",target="_blank") goo.gl/URVM6v]
        li 提案範例2：(網址)
        li 更多參考資料：#[a(href="http://beta.hackfoldr.org/news-hackathon",target="_blank") beta.hackfoldr.org/news-hackathon]
      br
      hr

      iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.8060314142626!2d121.53580331503301!3d25.040655883969237!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abd7cc8d7927%3A0xd22099cc815aa168!2zMTA25Y-w5YyX5biC5aSn5a6J5Y2A5bu65ZyL5Y2X6Lev5LiA5q61MTc36Jmf!5e0!3m2!1szh-TW!2stw!4v1490891871194",style="border:0;width:100%;height:300px",allowfullscreen)






    .event
      h3 如何製作沉浸式新聞？ / #[small.grayed 2017/03/04]
      p 你看過VR（虛擬實境）或AR（擴增實境）新聞嗎？你好奇紐約時報、BBC等國外媒體怎麼運用Google Earth Pro、Google Street View等線上工具進行新聞報導嗎？當愈來愈多科技工具，能加強第一視角敘事、讓讀者站在第一線體驗新聞情境時，新聞人該如何應用最新工具，說一個好故事？
      p 3月4日（六）我們將舉辦Hacks/Hackers Taipei的第三次小聚，特別邀請前路透記者、現任Google News Lab新聞媒體培訓師Irene Jay Liu，以及聯合報新媒體中心內容創新組組長蔡幸怡，一起來談談如何透過VR、地圖街景等工具進行創新報導。
      br
      h4 活動細節
      ul
        li 時間：2016 年 3 月 4 日 13:30 ~ 17:00
        li 地點：Google Taipei 辦公室 ( 台北市信義區信義路五段7號 )
        //-li 
          span 報名網址：
          a(href="http://www.accupass.com/go/hhtpe03",target="_blank") http://www.accupass.com/go/hhtpe03
      
      p
        span 當天流程：
        ul
          li 13:30-14:00  報到
          li 14:00-14:10  Opening
          li 
            p 14:10-15:00  怎麼製作沉浸式新聞？/ Google News Lab, Irene Jay Liu (英語分享）   
            p 除了介紹Youtube 360、 Cardboard、Google Street View、Google Earth Pro等新工具如何應用於新聞報導，Irene也將從個人經驗來談談如何在新聞編輯台導入創新基因。
          li 15:00-15:20 交流時間
          li
            p 15:20-16:20 聯合報VR&AR說故事的n個心得 / 聯合報新媒體中心 內容創新組組長 蔡幸怡     
            p 分享聯合報新媒體中心2016年在VR&AR說故事的初探，從實作中學到的心得（與苦惱）
          li 16:20-17:00 短講與交流
        p 期待你當天一起加入！( 注意：這次場地管制較嚴需事先準備名單，請盡量確定當天一定可以出席再報名喔！ )
      h3 講師陣容
      .row
        .col-sm-6.speaker
          img.avatar(src="/img/event/161218/irene.jpg")
          h4 Irene Jay Liu / Google News Lab
          p 曾經擔任路透社記者、香港南華早報特別專案負責人、美國哥倫比亞大學新聞學院講師，現任Google News Lab新聞媒體培訓師，也同時兼任香港大學、香港中文大學資料新聞課程程講師。
        .col-sm-6.speaker
          img.avatar(src="/img/event/161218/viola.jpg")
          h4 蔡幸怡 / 聯合報新媒體中心 內容創新組組長
          p 媒體資歷六年，現任聯合報新媒體中心內容創新組組長。走過平面編輯室進到數位製作，身在老傳統與新方法之間，連結storytelling & tech ，帶領團隊實作聯合報數位創新說故事，包括資料新聞專案、多媒體專題等。

      h3 活動地點
      p
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3615.004320479054!2d121.56244811501912!3d25.03392744444832!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abb6da80a7ad%3A0xb422bceb61c26abc!2zMTEw5Y-w5YyX5biC5L-h576p5Y2A5L-h576p6Lev5LqU5q61N-iZnw!5e0!3m2!1szh-TW!2stw!4v1480598166858",frameborder="0",style="border:0;width:100%;height:300px",allowfullscreen)

      br
      hr
      br

    .event
      h3 手把手的 Github 入門實戰 / #[small.grayed 2016/12/3]
      p 你以為Github是工程師的臉書，跟新聞人無關？錯！有越來越多國外媒體透過 Github協作、找新聞、發表報導、與讀者互動、甚至超越公司組織在github上相互學習。
      p 這次 Hacks/Hackers Taipei 請到來自零時政府社群的 Kirby Wu 為你帶來 120 分鐘的精彩實作課程，從 Git 的基本概念到實際建立一個屬於自己的個人網站。內容包括：
      ul
        li 什麼是「版本管理系統」？
        li Git 與 Github 簡介
        li 手把手的 Github 操作入門
        li 無腦網頁製作實戰 ( 附送免費子網域一組! )
        li Game Time ! - 利用 Github 進行分組對戰吧
      p: a(href="slide/github.pdf") 簡報連結
      br
      h4 活動細節
      ul
        li 時間：2016 年 12 月 3 日 13:30 ~ 17:00
        li 地點：Bookshow 說書會（台北市信義區忠孝東路五段 293 號 3 樓）
        li 
          span 報名網址：
          a(href="http://www.accupass.com/go/hhtpe02",target="_blank") http://www.accupass.com/go/hhtpe02
      
      p
        span 當天流程：
        ul
          li 13:30-14:00 報到
          li 14:00-14:10 Opening
          li 14:10-15:00 Github基本介紹 / Kirby Wu
          li 15:00-15:20 交流時間
          li 15:20-16:20 透過Github架站 / Kirby Wu
          li 16:20-17:00 短講與交流 / Silva
      p 由於活動有一半時間需要實際上線操作，我們希望來參與的朋友能自備筆電，能預先申請好github帳號，申請網址：https://github.com 。若申請有問題，要麻煩您活動當天提早報到，我們會安排小助手協助您註冊。

      h3 講師陣容
      .row
        .col-sm-6.speaker
          img.avatar(src="/img/event/161203/kirby.jpg")
          h4 Kirby Wu / 吳泰輝
          p infographics.tw，PlotDB 創辦人與 g0v.tw 共同發起人，亦為資料視覺化領域與網頁技術專家，並共同籌辦 Hacks/Hackers Taipei 與 2015 年的資料新聞實戰營 ( dBootcamp Taipei )。受邀至文化、政大、輔大與世新等大學之新聞傳播課程講授資料視覺化與資料新聞。
        .col-sm-6.speaker
          img.avatar(src="/img/event/161203/silva.jpg")
          h4 Silva Shih / 史書華
          p 喜歡研究科技怎麼影響新聞媒體、新聞室可以怎麼玩新科技。報導和製作拿過一些獎，目前遊走台北、北京雙城，平時通過github和倫敦同事進行協作。過去曾蹲過紐約，也曾在台灣和香港擔任新聞系所的資料新聞講師，今年順利把朋友推坑（隔壁那位，還有其他神祕人）共同發起hacks/hackers Taipei，發願讓更多新聞人和科技人跨界合作學習。

      h3 活動地點
      p
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.7928281275013!2d121.57015331501923!3d25.041103844160514!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442aba34357531f%3A0xbb46a816cc1fe01c!2zMTEw5Y-w5YyX5biC5L-h576p5Y2A5b-g5a2d5p2x6Lev5LqU5q61Mjkz6Jmf!5e0!3m2!1szh-TW!2stw!4v1480598226193",frameborder="0",style="border:0;width:100%;height:300px",allowfullscreen)


    h2 過往活動
    .event
      h3 地圖神器 QGIS 實戰 / #[small.grayed 2016/10/16]
      p Hacks/Hackers Taipei的第一次小聚，將討論地圖神器QGIS的教學和分享。QGIS為國外新聞室常用的報導工具，我們將邀請報導者記者陳貞樺，以及先後在紐約時報、華盛頓郵報實習的林辰峰，分享第一手的實作案例和應用。
      ul
        li 時間： 2016 年 10 月 16 日 13:30 ~ 17:00
        li
          p 時程：
          ul
            li 13:30-14:00 報到
            li 14:00-14:10 Opening
            li 14:10-15:00 QGIS基本概念、資料庫用法、國外案例介紹 / Jeremy Lin
            li 15:00-16:00 QGIS實際操作：下載QGIS、基本圖資 / Mimi Chen
            li 16:00-17:00 短講與交流時間
        li 地點：台北市南港區三重路66號2樓
        li 
          span 報名網址: 
          a(href="http://www.accupass.com/go/hhtpe01",target="_blank") http://www.accupass.com/go/hhtpe01
      p 由於活動一半時間將放在實際操作，我們希望來參與的朋友能自備筆電，能預先安裝好 #[a(href="http://www.qgis.org/en/site/forusers/download.html") QGIS軟體]。若安裝有問題，要麻煩您活動當天提早報到，我們會安排小助手協助您下載和安裝。
      h3 講師陣容
      .row
        .col-sm-6.speaker
          img.avatar(src="/img/event/161016/jeremy.jpg")
          h4 Jeremy Lin / 林辰峰
          p 一名記者、設計師、電腦工程師，專攻新媒體與資料視覺化。2015 年美國 Google 新聞獎學金得主。台灣文化新聞系、美國加州柏克萊大學新聞所畢。用英文寫新聞，用中文寫評論。曾在紐約時報頭版、華盛頓郵報頭版、德州先鋒報和報導者上寫稿。
        .col-sm-6.speaker
          img.avatar(src="/img/event/161016/mimi.jpg")
          h4 Mimi Chen / 陳貞樺
          p 喜愛圖像大於文字，研究所開始接觸資料視覺化，至今仍在這個坑裡游移探索。目前擔任記者一枚，曾以「繫上歷史上的黃絲帶」數位專輯獲台大公共報導獎多媒體首獎、去年與夥伴製作台灣第一款新聞遊戲「急診人生」，瀏覽人次破二十萬。未來希望持續嘗試用不同形式與技術說出好故事。
      hr
