extends /base.jade
block head
  script(type="text/javascript",src="index.js")
block body
  include mixin.jade
  #land-banner
    .row
      .col-sm-7
        img.banner(src="img/banner.png")
      .col-sm-5: .inner
        label subscribe to our latest event:
        #subscribe.input-group(style="position:relative")
          input.form-control(placeholder="Your Email Address")
          .state
            img.loader(src="img/loader.gif")
            i.fa.fa-close.text-danger
          span.input-group-btn
            .btn.btn-default(data-toggle="tooltip",data-placement="top")
              span Subscribe#[span.ok d] &nbsp;
              i.ok.fa.fa-check.text-success
        br
        .pull-right.follow
          label ... or follow us on
          a(href="https://www.facebook.com/groups/868771643258752/",target="_blank"): i.fa.fa-facebook-square
          a(href="https://twitter.com/hackshackerstpe",target="_blank"): i.fa.fa-twitter-square
          a(href="https://hhtpe.slack.com",target="_blank"): i.fa.fa-slack
          a(href="https://www.youtube.com/channel/UCyU45fgMo-jLs9W4h5f701w",target="_blank"): i.fa.fa-youtube

  nav#nav.navbar.navbar-default
    div
      .navbar-header
      .navbar-collapse
        ul.nav.navbar-nav.navbar-right.pull-right
          li: a(href="https://github.com/hackshackerstaipei",target="_blank") #[span github] #[i.fa.fa-github]
          li: a(href="https://calendar.google.com/calendar/embed?src=4f9ctnr08nmq02hfs7vbu8l9f0%40group.calendar.google.com&ctz=Asia/Taipei",target="_blank") #[span calendar] #[i.fa.fa-calendar]
          li: a(href="http://hackfoldr.org/hhtpe",target="_blank") #[span hackfoldr] #[i.fa.fa-folder]
        ul.nav.navbar-nav
          li.active: a(href="#") events
          li(data-toggle="tooltip",data-placement="top",title="coming soon!"): a(href="#") projects
          li: a(href="/about.html") about

  #root
    h2 最新活動
    .event
      h3 第八場小聚：打造你的第一隻Chatbot！ / #[small.grayed 2018/01/27]
      p 2018年的第一場小聚，我們將舉辦Chatbot（聊天機器人）的實作工作坊。常常使用社群媒體跟通訊軟體的人，可能慢慢會注意到有越來越多的 Chatbot 出現在身邊：不管是幫你定位查天氣的小幫手、或是跟你玩遊戲互動「順便」問你有沒有聽過ang-lee嗎推銷有趣的新東西。透過 Chatbot 的滲透力，讓不少媒體也能玩出新花樣。 

      p 1月27日（六）Hacks/Hackers Taipei的第八次小聚，特別邀請社群之友、資料科學家Summit，手把手向大家介紹Chatbot原理、應用，並透過簡單的設定，完成一隻屬於自己的chatbot！

      .text-center: a.btn.btn-lg.btn-info.cta(
      href="https://www.accupass.com/event/1801040559396573139700",target="_blank")
        div(style="font-size:1.7em") 現在就報名
        small Register Now
      hr
      h4 活動時間
      div 2018年1月27日(六) 13:40 ~ 17:00
      br
      h4 活動地點
      div  iChef / 極地Polar ( #[a(href="https://goo.gl/maps/61Wvc4r69b92",target="_blank") 台北市松山區敦化北路 145 巷 12 號] / 感謝 #[a(href="https://www.facebook.com/events/380091782412203/",target="_blank") iChef / 極地Polar] 提供場地 )
      br
      h4 活動流程
      ul
        li 1:40~1:50  報到
        li 1:50~2:00  開場
        li 2:00~3:00  介紹Chatbot
        li 3:00~3:10  中場休息與交流
        li 3:10~4:00  動手實作
        li 4:10~4:40  Q&amp;A、短講與會後交流（目前已報名短講：鏡週刊如何煉成政治獻金資料新聞報導。如果您也有興趣報名短講，請小聚前到#[a(href="https://docs.google.com/spreadsheets/d/1SgeFtaTF7V7Z7Qbe64X4bIuAft6Dix-e6nYb3ioUfrQ/edit#gid=0") Google表單登記]）
      br
      p 當天活動依舊鼓勵大家共同筆記，#[a(href="https://docs.google.com/document/d/1MS9LYDjDUWUKJTpwNfOcHuuSHKrDxWRrFv2pEvlg2Lo/edit") 共筆連結在此]，歡迎一起參與記錄。
      br
      h4 報名規範
      p 感謝所有人過去一年對Hacks/Hackers Taipei的支持，但最近幾次小聚，慢慢出現報名者臨時取消、甚至是當天不出席。我們理解大家工作和生活繁忙，但小聚的座位都非常有限，所以從今年開始，我們的新希望和新作法是：希望您確定可以參與後，再索取票券，別讓沒搶到票的朋友難過。
      p: u.red 如果你已經報名，但卻在（1) 活動前48小時以內臨時取消，或 (2) 當天未出席，我們會取消你報名下一次小聚的機會。
      +nbr(2)
      h4.text-center 講者陣容
      hr
      .row
        .col-sm-4.col-sm-offset-4.speaker
          img.avatar(src="/img/event/180127/summit.jpg")
          .name 孫玉峰
          .title 雲深創新技術總監
          p.brief 資料科學家、業界講師，活躍於多個技術社群。致力搭建資料科學與現實世界的橋樑，讓資料跟數學發聲，帶動各個產業領域的翻轉和創新。目前服務於一間提供新聞推薦系統的新創公司，並運用中文 NLP 技術開發語意分析核心產品。

    .event
      //-img(src="img/event/170910/news.jpg",style="margin:20px auto 0")
      h3  第七場小聚：迷你週年慶 / #[small.grayed 2017/11/04]

      p Hacks/Hackers Taipei 滿一歲了！
      p 在 11/04 (週六）下午，我們將有一個小的週年分享會，請到常來參與的社群朋友，以5 ~ 15分鐘的迷你閃點分享時間，接力分享他 / 她或團隊這一年來的學習跟心得。
      //-.text-center: a.btn.btn-lg.btn-info.cta(
        href="https://www.accupass.com/event/1710240452471889294777",target="_blank")
          div(style="font-size:1.7em") 現在就報名
          small Register Now
      hr
      h4 活動時間
      div 2017年11月4日(六) 13:50 ~ 17:00
      br
      h4 活動地點
      div  女人迷樂園 ( #[a(href="https://goo.gl/maps/khuTm8TuJw32",target="_blank") 台北市和平東路二段 50 號] / 感謝 #[a(href="https://womany.net/",target="_blank") womany.net] 提供場地 )
      br
      h4 活動流程
      table.agenda(style="width:100%")
        tr
          th(style="width:140px") 時段
          th 議程 

        tr #[td 13:50 ~ 14:20] #[td 報到]
        tr #[td 14:20 ~ 14:30] #[td 開場]

        tr
          td 14:30 ~ 14:40
          td 閃電分享一：#[b.red 「2017數位新聞工作者線上調查」分享 / Hacks/Hackers Taipei]
        tr
          td.content(colspan="2"): blockquote Hacks/hackers Taipei在今年下半年針對從事資料新聞、數位新聞專輯的台灣新聞工作者進行線上調查。這些工作者的生存現狀跟挑戰是什麼？

        tr
          td 14:40 ~ 14:50
          td 閃電分享二：#[b.red 「傳統紙媒中獨立團隊的一年」/ 《鏡傳媒》簡信昌]
        tr
          td.content(colspan="2"): blockquote 去年成立的鏡傳媒，其實主體是週刊紙媒。可是在這樣一般人認知的傳統紙媒中，經營者卻讓我們有獨立完成數位專題的空間。這一年來，我們團隊都還在磨合，甚至是踩著別人的腳印設法找出自己的節奏。所以我們有什麼發現，以及未來的方向是什麼呢？

        tr
          td 14:50 ~ 15:00
          td 閃電分享三：#[b.red 「聯合報數位專題2017實作心得」/ 《聯合報新媒體中心》蔡幸怡]
        tr
          td.content(colspan="2"): blockquote 聯合報新媒體2017年在數位創新說故事的實作心得分享。從流程談起，兩個問題想跟大家交流：1. 新聞性與新技術開拓，魚跟熊掌如何兼得？ 2. 軍備競賽式的創新說故事，為何而戰？

        tr
          td 15:00 ~ 15:10
          td 閃電分享四：#[b.red 「小步如何快跑？天下全閱讀的敏捷實驗」 / 《天下雜誌》沈琬婷]
        tr
          td.content(colspan="2"): blockquote 天下雜誌在今年三月推出訂閱制「全閱讀」後，在內容、營運、行銷與工程上，如何以數據作為驅動，進行敏捷實驗，小步快跑？

        tr
          td 15:10 ~ 15:40
          td 中場休息與交流
        tr
          td 15:40 ~ 15:50
          td 閃電分享五：#[b.red 「沃草這半年來數位作品的心得」 / 《沃草》洪國鈞]
        tr
          td.content(colspan="2"): blockquote 沃草如何說故事：利用線上免費工具（及其極限）
        tr
          td 15:50 ~ 16:00
          td 閃電分享六：#[b.red 「圖像思考：端傳媒的數位專題心得」 / 《端傳媒》曾立宇]
        tr
          td.content(colspan="2"): blockquote 端傳媒在過去一年做過不少數位專題。以設計師的角度，在每一次和時間賽跑的實作/實驗中，如何藉由圖像與文字的思考轉化，降低不同崗位同事的溝通成本，讓專題呈現效果最佳化。
        tr
          td 16:00 ~ 16:10
          td 閃電分享七：#[b.red 「如何提升資料新聞的工作效率」 / 《天下雜誌》 林佳賢]
        tr
          td.content(colspan="2"): blockquote 每週出一篇新聞的頻率，如果沒有發展出一套產製流程，可是會永遠被死線追著跑的。我參考了其他記者同事的工作流程，嘗試出一套資料記者可以套用的「採寫」流程。
        tr
          td 16:10 ~ 16:20
          td 閃電分享八：#[b.red 「媒體中的變形怪－新聞室專案管理（PM）經驗分享」 / 《報導者》陳貞樺]
        tr
          td.content(colspan="2"): blockquote 分享新聞室專案管理角色的工作內容，以及近兩年來在《報導者》製作數位專題的流程的變化、與各部門合作會出現的問題等。

        tr
          td 16:20 ~ 16:30
          td 開放分享名額 / 1 ( #[small: a(href="https://goo.gl/forms/jgJl9JD9SodxZlaJ2",target="_blank") 點我報名] #[b.red *] )

        tr
          td 16:30 ~ 16:40
          td 開放分享名額 / 2 ( #[small: a(href="https://goo.gl/forms/jgJl9JD9SodxZlaJ2",target="_blank") 點我報名] #[b.red *] )
      +nbr(2)
      p 當天活動依舊鼓勵大家共同筆記，#[a(href="https://docs.google.com/document/d/189MdR2Nybj_0jN53EP3Z3RNk4qX4f2Wxp_zqYAbNOy4/edit?usp=sharing",target="_blank") 共筆連結在此]，歡迎一起參與記錄。
      +nbr(1)
      .well
        p: small #[i.fa.fa-asterisk.red] 我們預計保留兩個分享時段提供給網路報名，如果您有興趣分享您或團隊這一年來的學習心得，歡迎透過 #[a(href="https://goo.gl/forms/jgJl9JD9SodxZlaJ2",target="_blank") 這個連結] 報名；若超過兩組報名，主辦單位會再依主題、順序等條件來決定分享單位，並於 11/02 前公布。
      +nbr(2)
      h4.text-center 講者陣容
      hr
      .row
        .col-sm-4.speaker
          img.avatar(src="/img/event/171104/hcchien.jpg")
          .name 簡信昌
          .title 鏡傳媒 CTO
          p.brief 去年成立的鏡傳媒，其實主體是週刊紙媒。可是在這樣一般人認知的傳統紙媒中，經營者卻讓我們有獨立完成數位專題的空間。這一年來，我們團隊都還在磨合，甚至是踩著別人的腳印設法找出自己的節奏。所以我們有什麼發現，以及未來的方向是什麼呢？

        .col-sm-4.speaker
          img.avatar(src="/img/event/171104/violatsai.jpg")
          .name 蔡幸怡
          .title 聯合報新媒體中心組長
          p.brief 聯合報新媒體2017年在數位創新說故事的實作心得分享。從流程談起，二個問題想跟大家交流：1. 新聞性與新技術開拓，魚跟熊掌如何兼得？ 2. 軍備競賽式的創新說故事，為何而戰？

        .col-sm-4.speaker
          img.avatar(src="/img/event/171104/wanting.jpg")
          .name 沈琬婷
          .title 天下雜誌數位內容營運副理
          p.brief 天下雜誌在今年三月推出訂閱制「全閱讀」後，在內容、營運、行銷與工程上，如何以數據作為驅動，進行敏捷實驗，小步快跑？

      +nbr(1)
      .row
        .col-sm-4.speaker
          img.avatar(src="/img/event/171104/kuochun.jpg")
          .name 洪國鈞
          .title 沃草專案經理
          p.brief 沃草如何說故事：利用線上免費工具（及其極限）

        .col-sm-4.speaker
          img.avatar(src="/img/event/171104/liyu.jpg")
          .name 曾立宇
          .title 端傳媒設計師
          p.brief 端傳媒在過去一年做過不少數位專題。以設計師的角度，在每一次和時間賽跑的實作/實驗中，如何藉由圖像與文字的思考轉化，降低不同崗位同事的溝通成本，讓專題呈現效果最佳化。

        .col-sm-4.speaker
          img.avatar(src="/img/event/171104/dataman.jpg")
          .name 林佳賢
          .title 天下雜誌資料新聞記者
          p.brief 每週出一篇新聞的頻率，如果沒有發展出一套產製流程，可是會永遠被死線追著跑的。我參考了記者同事的工作流程，嘗試出一套資料記者可以套用的「採寫」流程。
      +nbr(1)
      .row
        .col-sm-4.speaker
          img.avatar(src="/img/event/171104/mimichen.jpg")
          .name 陳貞樺
          .title 報導者新聞室專案經理
          p.brief 分享新聞室專案管理角色的工作內容，以及近兩年來在《報導者》製作數位專題的流程的變化、與各部門合作會出現的問題等。

      +nbr(2)
      h4.text-center 怎麼去？
      iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3615.254412643499!2d121.53609621500604!3d25.025438783976284!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442aa29c70419e7%3A0xa5060e7c83cafe67!2sNo.+50%2C+Section+2%2C+Heping+East+Road%2C+Da%E2%80%99an+District%2C+Taipei+City%2C+Taiwan+106!5e0!3m2!1sen!2s!4v1508918123942",width="100%",height="350px",frameborder="0",style="border:0",allowfullscreen)

      .text-center
        a.btn.btn-lg.btn-info.cta(
        href="https://www.accupass.com/event/1710240452471889294777",target="_blank")
          div(style="font-size:1.7em") 現在就報名
          small Register Now

    h2 過往活動

    .event
      img(src="img/event/170910/news.jpg",style="margin:20px auto 0")
      h3  第六場小聚：擊退假新聞 / #[small.grayed 2017/09/10]

      p Hacks/Hackers Taipei 第六次小聚，邀請了問題新聞回報平台「新聞小幫手」的發起人 Ronny Wang，以及全台最大 Line 闢謠社群「真的假的」團隊（【真的假的 LINE bot】協作 / 問題回報群組），分享他們是如何運用瀏覽器外掛以及社群平台，擊退謠言！

      a.btn.btn-lg.btn-info.btn-block(href="https://www.accupass.com/event/1708281217381579031658",target="_blank") 報名頁面
      hr
      h4: b 活動時間
      div 2017年9月10日(日)
      br
      h4: b 活動地點
      div  台北市信義區松山路132號3樓 ( #[a(href="https://goo.gl/maps/6SS9FoD39Qo",target="_blank") 台北市信義區松山路132號3樓] / 感謝 iChef 提供場地 )
      br

      h4: b 活動流程
      ul
        li 13:30~13:50 報到
        li 13:50~14:00 開場
        li 14:00~14:50 「新聞小幫手」製作人 Ronny
        li 14:50~15:10 天下雜誌
        li 15:10~16:00 「真的假的」團隊 Johnson
        li 16:10~16:30 Q & A 與會後交流
      br
      h4 活動共筆
      p 活動當天歡迎大家一起來幫忙整理活動內容，線上共筆網址: #[a(href="https://docs.google.com/document/d/1LQXQt8CAu0l319Or2kBTwjU6v2TPyA_R779-7PciY2w/edit") 連結]
      h3 講師陣容
      .row
        .col-sm-6.speaker
          img.avatar(src="/img/event/170910/ronny.jpg")
          h4 王向榮 ( Ronny ) / 新聞小幫手製作人
          p 一個愛游泳愛收集政府資料的程式設計師，在 g0v 發起過新聞小幫手、求職小幫手、開放政治獻金等專案，希望能透過網路讓資訊更容易流通，沒人會因資訊不對稱而受害
        .col-sm-6.speaker
          img.avatar(src="/img/event/170910/johnson.jpg")
          h4  Johnson Liang / Cofacts 真的假的 專案發起人
          p 毫無反應，就是名前端工程師。相信網際網路與多元價值，不擅長吃螃蟹，也討厭各種形式的河蟹。

      hr

      iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.6039318283065!2d121.5754033150065!3d25.047511883965953!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442ab9ed0bf20f9%3A0x545681a19f244c60!2zMTEw5Y-w54Gj5Y-w5YyX5biC5L-h576p5Y2A5p2-5bGx6LevMTMy6Jmf!5e0!3m2!1szh-TW!2shk!4v1504661517866",width="100%",height="300px",frameborder="0",style="border:0",allowfullscreen)

    .event
      img(src="img/event/170625/thumb.png",style="margin:20px auto 0")
      h3 SOPA入圍作品大賞 / #[small.grayed 2017/06/25]

      p 6月25日（日）我們將舉辦Hacks/Hackers Taipei的第五次小聚，特別邀請入圍亞洲出版業協會新聞獎（SOPA）新聞創新（Journalistic innovation）、數據圖像（infographics）兩個獎項的新聞團隊（天下雜誌、報導者、財新數據新聞實驗室、香港01），分享各自的入圍作品（完整入圍作品介紹請進：https://goo.gl/hPE7lK），以及製作上的苦與甜。

      a.btn.btn-lg.btn-info.btn-block(href="http://www.accupass.com/go/hhtpe05",target="_blank") 報名頁面
      hr
      h4: b 活動時間
      div 2017年6月25日(日)
      br
      h4: b 活動地點
      div  TAF 空總創新基地「士官大樓」3F ( #[a(href="https://goo.gl/maps/V5FkrJQXfqq",target="_blank") 台北市大安區建國南路一段177號] / #[a(href="http://taiwanairforce.org/%E4%BA%A4%E9%80%9A%E8%B3%87%E8%A8%8A/",target="_blank") 詳細交通資訊] / 感謝極客窩提供場地 )
      br

      h4: b 活動流程
      ul
        li 13:30~13:50 報到
        li 13:50~14:00 開場
        li 14:00~14:40 報導者
        li 14:40~15:20 天下雜誌
        li 15:20~15:30 中場休息與交流
        li 16:30~16:10 財新（遠距分享）
        li 16:10~16:50 香港01 （遠距分享）
        li 16:50~17:20 QA 與短講（想報名短講的朋友，歡迎先#[a(href="https://goo.gl/TX5GA9",target="_blank") 線上登記]）
      br
      h4 活動共筆
      p 活動當天歡迎大家一起來幫忙整理活動內容，線上共筆網址: #[a(href="https://docs.google.com/document/d/1mbGRIjp5gAnAaQNElJiSG0FOxZ5iZqD3AqQJqnZfZA0/edit?usp=sharing") 連結]
      h3 講師陣容
      .row
        .col-sm-4.speaker
          img.avatar(src="/img/event/170625/wang.jpg")
          h4 王思澄 / 天下雜誌
          p 做過評論編輯、小編再到策展編輯，參與調查報導專題、圖解新聞議題或小遊戲等數位製作。
        .col-sm-4.speaker
          img.avatar(src="/img/event/170625/dada.jpg")
          h4 吳政達 / 報導者
          p 又叫達達吳，一枚小設計，曾經參與製作新聞遊戲、數位專題、影像專題等。
        .col-sm-4.speaker
          img.avatar(src="/img/event/170625/lin.jpg")
          h4 林佑恩 / 報導者
          p 攝影記者。倫敦大學金匠學院攝影與城市文化碩士。獲2016台灣新聞攝影大賽肖像優選與系列照片優選、以《亞洲森林浩劫──誰讓地球禿了頭》入圍2016年曾虛白新聞獎。

        .col-sm-4.speaker
          img.avatar(src="/img/event/170625/chen.jpg")
          h4 陳嘉慧 / 財新
          p 財新網數據新聞記者，經常做的事情是新聞數據可視化、多媒體敍事和數据驅動新聞報導。在香港長大，現於北京工作。
        .col-sm-4.speaker
          img.avatar(src="/img/event/170625/chien.jpg")
          h4 簡浩德 / 香港01數據組記者
          p 從網頁前端跑棚到網絡傳媒數據組當記者，與組員一同製作以數據主導、可視化的報道，一邊做一邊學。

      hr


      iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.8060314142626!2d121.53580331503301!3d25.040655883969237!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abd7cc8d7927%3A0xd22099cc815aa168!2zMTA25Y-w5YyX5biC5aSn5a6J5Y2A5bu65ZyL5Y2X6Lev5LiA5q61MTc36Jmf!5e0!3m2!1szh-TW!2stw!4v1490891871194",style="border:0;width:100%;height:300px",allowfullscreen)


    .event
      img(src="img/event/170416/banner.jpg",style="width:100%;margin-top:20px")
      h5.grayed.pull-right Hacks/Hackers Taipei  ft.  g0v.news
      h3 第一次翻轉新聞松來了！ / #[small.grayed 2017/04/16]
      .pull-right.text-center
        img(src="img/banner-sm.png")
        img(src="img/g0v-news.png",style="width:80px")
      blockquote
        h4 想用新科技解決當前的新聞難題嗎？
        h4 想通過科技方式加快新聞產製流程？
        h4 想知道參與黑客松對新聞有什麼幫助嗎？

      p 4月16日(日)，#[a(href="http://hackshackers.taipei") Hacks/Hackers Taipei] 將聯合 #[a(href="https://g0v.news",target="_blank") g0v.news] 共同舉辦翻轉新聞松（Hacking Journalism），邀請記者、編輯、設計師、前後端工程師，透過一天的活動，一起動腦、一起實作，跨界打造能實際解決當前新聞問題的報導或新聞產品。
      a.btn.btn-lg.btn-info.btn-block(href="http://www.accupass.com/go/hhtpexg0vnews",target="_blank") 報名頁面
      hr
      h4: b 活動時間
      div 2017年4月16日(日) (#[a(href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=aGgyMW5vazBqZzdzM2tkdWxsamNubzRuaGsgNGY5Y3RucjA4bm1xMDJoZnM3dmJ1OGw5ZjBAZw&tmsrc=4f9ctnr08nmq02hfs7vbu8l9f0%40group.calendar.google.com") 加到我的 Google Calendar])
      br
      h4: b 活動地點
      div  TAF 空總創新基地「士官大樓」3F ( #[a(href="https://goo.gl/maps/V5FkrJQXfqq",target="_blank") 台北市大安區建國南路一段177號] / #[a(href="http://taiwanairforce.org/%E4%BA%A4%E9%80%9A%E8%B3%87%E8%A8%8A/",target="_blank") 詳細交通資訊] / 感謝極客窩提供場地 )
      br

      h4: b 適合參與對象
      p 記者、編輯、前後端工程師、設計師、插畫家、創業家、新聞傳播學院師生、或任何關心新聞媒體發展的朋友，你可能有想做的報導，但缺乏跨界幫忙；也可能你有好的科技點子，但希望讓更多新聞人認識；又或是你只是單純好奇黑客松是什麼？黑客松跟新聞人到底有什麼關係？通通歡迎參加！
      br

      h4: b 報名方式
      p 4月10日（星期日）開放網路報名：#[a(href="http://www.accupass.com/go/hhtpexg0vnews",target="_blank") www.accupass.com/go/hhtpexg0vnews]
      ul
        li 票券種類：分1)記者編輯、2)前後端工程師、3)設計師三種票，請依照您個人專長或興趣選擇合適的票種報名。
        li 票券費用：0元，但報到當天需繳交新台幣150元的午餐費用（為了方便大家邊吃邊討論，預計提供能一手拿的食物。素食者煩請報名時註明）。
      br

      h4: b 活動方式
      p 帶著問題和方向來參與：先上網（http://beta.hackfoldr.org/news-hackathon）登記你的提案，若事先沒有計畫的人，也能到了現場再分組。
      p 可單槍匹馬或組隊參加：一個完整的科技方案，少不了新聞人、科技人、設計師等多元協作。你可以帶著點子單槍匹馬報名，現場招兵買馬，或能事前在Hacks/Hackers Taipei粉絲團po文，號召參與者。
      p 為鼓勵開源協作，本活動當天所產出的程式碼及內容，將以開源的授權條款 （MIT, CC 等）釋出。活動結束後所產生的內容，則不在此限。
      br

      h4: b 活動流程
      ul
        li 10:40 入場
        li 11:00 開場、提案 (1個提案：3分鐘）
        li 11:40 自介、午餐、交流
        li 18:00 成果報告
        li 19:00 收播，閒聊，散會
      br

      h4: b 如何提案
      ul
        li 提案登記：#[a(href="https://goo.gl/z0XzQw",target="_blank") goo.gl/z0XzQw]
        li 空白提案表 (這是範本，請勿更動。請先複製一份再編輯)：#[a(href="https://goo.gl/QsMoct",target="_blank") goo.gl/QsMoct]
        li 提案範例1：「黑客公務員的血汗之路」小遊戲 #[a(href="https://goo.gl/URVM6v",target="_blank") goo.gl/URVM6v]
        li 提案範例2：(網址)
        li 更多參考資料：#[a(href="http://beta.hackfoldr.org/news-hackathon",target="_blank") beta.hackfoldr.org/news-hackathon]
      br
      hr

      iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.8060314142626!2d121.53580331503301!3d25.040655883969237!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abd7cc8d7927%3A0xd22099cc815aa168!2zMTA25Y-w5YyX5biC5aSn5a6J5Y2A5bu65ZyL5Y2X6Lev5LiA5q61MTc36Jmf!5e0!3m2!1szh-TW!2stw!4v1490891871194",style="border:0;width:100%;height:300px",allowfullscreen)






    .event
      h3 如何製作沉浸式新聞？ / #[small.grayed 2017/03/04]
      p 你看過VR（虛擬實境）或AR（擴增實境）新聞嗎？你好奇紐約時報、BBC等國外媒體怎麼運用Google Earth Pro、Google Street View等線上工具進行新聞報導嗎？當愈來愈多科技工具，能加強第一視角敘事、讓讀者站在第一線體驗新聞情境時，新聞人該如何應用最新工具，說一個好故事？
      p 3月4日（六）我們將舉辦Hacks/Hackers Taipei的第三次小聚，特別邀請前路透記者、現任Google News Lab新聞媒體培訓師Irene Jay Liu，以及聯合報新媒體中心內容創新組組長蔡幸怡，一起來談談如何透過VR、地圖街景等工具進行創新報導。
      br
      h4 活動細節
      ul
        li 時間：2016 年 3 月 4 日 13:30 ~ 17:00
        li 地點：Google Taipei 辦公室 ( 台北市信義區信義路五段7號 )
        //-li 
          span 報名網址：
          a(href="http://www.accupass.com/go/hhtpe03",target="_blank") http://www.accupass.com/go/hhtpe03
      
      p
        span 當天流程：
        ul
          li 13:30-14:00  報到
          li 14:00-14:10  Opening
          li 
            p 14:10-15:00  怎麼製作沉浸式新聞？/ Google News Lab, Irene Jay Liu (英語分享）   
            p 除了介紹Youtube 360、 Cardboard、Google Street View、Google Earth Pro等新工具如何應用於新聞報導，Irene也將從個人經驗來談談如何在新聞編輯台導入創新基因。
          li 15:00-15:20 交流時間
          li
            p 15:20-16:20 聯合報VR&AR說故事的n個心得 / 聯合報新媒體中心 內容創新組組長 蔡幸怡     
            p 分享聯合報新媒體中心2016年在VR&AR說故事的初探，從實作中學到的心得（與苦惱）
          li 16:20-17:00 短講與交流
        p 期待你當天一起加入！( 注意：這次場地管制較嚴需事先準備名單，請盡量確定當天一定可以出席再報名喔！ )
      h3 講師陣容
      .row
        .col-sm-6.speaker
          img.avatar(src="/img/event/161218/irene.jpg")
          h4 Irene Jay Liu / Google News Lab
          p 曾經擔任路透社記者、香港南華早報特別專案負責人、美國哥倫比亞大學新聞學院講師，現任Google News Lab新聞媒體培訓師，也同時兼任香港大學、香港中文大學資料新聞課程程講師。
        .col-sm-6.speaker
          img.avatar(src="/img/event/161218/viola.jpg")
          h4 蔡幸怡 / 聯合報新媒體中心 內容創新組組長
          p 媒體資歷六年，現任聯合報新媒體中心內容創新組組長。走過平面編輯室進到數位製作，身在老傳統與新方法之間，連結storytelling & tech ，帶領團隊實作聯合報數位創新說故事，包括資料新聞專案、多媒體專題等。

      h3 活動地點
      p
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3615.004320479054!2d121.56244811501912!3d25.03392744444832!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abb6da80a7ad%3A0xb422bceb61c26abc!2zMTEw5Y-w5YyX5biC5L-h576p5Y2A5L-h576p6Lev5LqU5q61N-iZnw!5e0!3m2!1szh-TW!2stw!4v1480598166858",frameborder="0",style="border:0;width:100%;height:300px",allowfullscreen)

      br
      hr
      br

    .event
      h3 手把手的 Github 入門實戰 / #[small.grayed 2016/12/3]
      p 你以為Github是工程師的臉書，跟新聞人無關？錯！有越來越多國外媒體透過 Github協作、找新聞、發表報導、與讀者互動、甚至超越公司組織在github上相互學習。
      p 這次 Hacks/Hackers Taipei 請到來自零時政府社群的 Kirby Wu 為你帶來 120 分鐘的精彩實作課程，從 Git 的基本概念到實際建立一個屬於自己的個人網站。內容包括：
      ul
        li 什麼是「版本管理系統」？
        li Git 與 Github 簡介
        li 手把手的 Github 操作入門
        li 無腦網頁製作實戰 ( 附送免費子網域一組! )
        li Game Time ! - 利用 Github 進行分組對戰吧
      p: a(href="slide/github.pdf") 簡報連結
      br
      h4 活動細節
      ul
        li 時間：2016 年 12 月 3 日 13:30 ~ 17:00
        li 地點：Bookshow 說書會（台北市信義區忠孝東路五段 293 號 3 樓）
        li 
          span 報名網址：
          a(href="http://www.accupass.com/go/hhtpe02",target="_blank") http://www.accupass.com/go/hhtpe02
      
      p
        span 當天流程：
        ul
          li 13:30-14:00 報到
          li 14:00-14:10 Opening
          li 14:10-15:00 Github基本介紹 / Kirby Wu
          li 15:00-15:20 交流時間
          li 15:20-16:20 透過Github架站 / Kirby Wu
          li 16:20-17:00 短講與交流 / Silva
      p 由於活動有一半時間需要實際上線操作，我們希望來參與的朋友能自備筆電，能預先申請好github帳號，申請網址：https://github.com 。若申請有問題，要麻煩您活動當天提早報到，我們會安排小助手協助您註冊。

      h3 講師陣容
      .row
        .col-sm-6.speaker
          img.avatar(src="/img/event/161203/kirby.jpg")
          h4 Kirby Wu / 吳泰輝
          p infographics.tw，PlotDB 創辦人與 g0v.tw 共同發起人，亦為資料視覺化領域與網頁技術專家，並共同籌辦 Hacks/Hackers Taipei 與 2015 年的資料新聞實戰營 ( dBootcamp Taipei )。受邀至文化、政大、輔大與世新等大學之新聞傳播課程講授資料視覺化與資料新聞。
        .col-sm-6.speaker
          img.avatar(src="/img/event/161203/silva.jpg")
          h4 Silva Shih / 史書華
          p 喜歡研究科技怎麼影響新聞媒體、新聞室可以怎麼玩新科技。報導和製作拿過一些獎，目前遊走台北、北京雙城，平時通過github和倫敦同事進行協作。過去曾蹲過紐約，也曾在台灣和香港擔任新聞系所的資料新聞講師，今年順利把朋友推坑（隔壁那位，還有其他神祕人）共同發起hacks/hackers Taipei，發願讓更多新聞人和科技人跨界合作學習。

      h3 活動地點
      p
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.7928281275013!2d121.57015331501923!3d25.041103844160514!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442aba34357531f%3A0xbb46a816cc1fe01c!2zMTEw5Y-w5YyX5biC5L-h576p5Y2A5b-g5a2d5p2x6Lev5LqU5q61Mjkz6Jmf!5e0!3m2!1szh-TW!2stw!4v1480598226193",frameborder="0",style="border:0;width:100%;height:300px",allowfullscreen)


    .event
      h3 地圖神器 QGIS 實戰 / #[small.grayed 2016/10/16]
      p Hacks/Hackers Taipei的第一次小聚，將討論地圖神器QGIS的教學和分享。QGIS為國外新聞室常用的報導工具，我們將邀請報導者記者陳貞樺，以及先後在紐約時報、華盛頓郵報實習的林辰峰，分享第一手的實作案例和應用。
      ul
        li 時間： 2016 年 10 月 16 日 13:30 ~ 17:00
        li
          p 時程：
          ul
            li 13:30-14:00 報到
            li 14:00-14:10 Opening
            li 14:10-15:00 QGIS基本概念、資料庫用法、國外案例介紹 / Jeremy Lin
            li 15:00-16:00 QGIS實際操作：下載QGIS、基本圖資 / Mimi Chen
            li 16:00-17:00 短講與交流時間
        li 地點：台北市南港區三重路66號2樓
        li 
          span 報名網址: 
          a(href="http://www.accupass.com/go/hhtpe01",target="_blank") http://www.accupass.com/go/hhtpe01
      p 由於活動一半時間將放在實際操作，我們希望來參與的朋友能自備筆電，能預先安裝好 #[a(href="http://www.qgis.org/en/site/forusers/download.html") QGIS軟體]。若安裝有問題，要麻煩您活動當天提早報到，我們會安排小助手協助您下載和安裝。
      h3 講師陣容
      .row
        .col-sm-6.speaker
          img.avatar(src="/img/event/161016/jeremy.jpg")
          h4 Jeremy Lin / 林辰峰
          p 一名記者、設計師、電腦工程師，專攻新媒體與資料視覺化。2015 年美國 Google 新聞獎學金得主。台灣文化新聞系、美國加州柏克萊大學新聞所畢。用英文寫新聞，用中文寫評論。曾在紐約時報頭版、華盛頓郵報頭版、德州先鋒報和報導者上寫稿。
        .col-sm-6.speaker
          img.avatar(src="/img/event/161016/mimi.jpg")
          h4 Mimi Chen / 陳貞樺
          p 喜愛圖像大於文字，研究所開始接觸資料視覺化，至今仍在這個坑裡游移探索。目前擔任記者一枚，曾以「繫上歷史上的黃絲帶」數位專輯獲台大公共報導獎多媒體首獎、去年與夥伴製作台灣第一款新聞遊戲「急診人生」，瀏覽人次破二十萬。未來希望持續嘗試用不同形式與技術說出好故事。
      hr
