extends /base.jade
block head
  script(type="text/javascript",src="index.js")
block body
  #land-banner
    .row
      .col-sm-7
        img.banner(src="img/banner.png")
      .col-sm-5: .inner
        label subscribe to our latest event:
        #subscribe.input-group(style="position:relative")
          input.form-control(placeholder="Your Email Address")
          .state
            img.loader(src="img/loader.gif")
            i.fa.fa-close.text-danger
          span.input-group-btn
            .btn.btn-default(data-toggle="tooltip",data-placement="top")
              span Subscribe#[span.ok d] &nbsp;
              i.ok.fa.fa-check.text-success
        br
        .pull-right.follow
          label ... or follow us on
          a(href="https://www.facebook.com/groups/868771643258752/",target="_blank"): i.fa.fa-facebook-square
          a(href="https://twitter.com/hackshackerstpe",target="_blank"): i.fa.fa-twitter-square
          a(href="https://hhtpe.slack.com",target="_blank"): i.fa.fa-slack

  nav#nav.navbar.navbar-default
    div
      .navbar-header
      .navbar-collapse
        ul.nav.navbar-nav.navbar-right.pull-right
          li: a(href="https://github.com/hackshackerstaipei",target="_blank") #[span github] #[i.fa.fa-github]
          li: a(href="https://calendar.google.com/calendar/embed?src=4f9ctnr08nmq02hfs7vbu8l9f0%40group.calendar.google.com&ctz=Asia/Taipei",target="_blank") #[span calendar] #[i.fa.fa-calendar]
          li: a(href="http://hackfoldr.org/hhtpe",target="_blank") #[span hackfoldr] #[i.fa.fa-folder]
        ul.nav.navbar-nav
          li.active: a(href="#") events
          li(data-toggle="tooltip",data-placement="top",title="coming soon!"): a(href="#") projects
          li: a(href="/about.html") about

  #root
    hr
    h2 活動資訊
    hr
    h3 地圖神器 QGIS 實戰 / #[small.grayed 2016/10/16]
    p Hacks/Hackers Taipei的第一次小聚，將討論地圖神器QGIS的教學和分享。QGIS為國外新聞室常用的報導工具，我們將邀請報導者記者陳貞樺，以及先後在紐約時報、華盛頓郵報實習的林辰峰，分享第一手的實作案例和應用。
    ul
      li 時間： 2016 年 10 月 16 日 13:30 ~ 17:00
      li
        p 時程：
        ul
          li 13:30-14:00 報到
          li 14:00-14:10 Opening
          li 14:10-15:00 QGIS基本概念、資料庫用法、國外案例介紹 / Jeremy Lin
          li 15:00-16:00 QGIS實際操作：下載QGIS、基本圖資 / Mimi Chen
          li 16:00-17:00 短講與交流時間
      li 地點：台北市南港區三重路66號2樓
      li 
        span 報名網址: 
        a(href="http://www.accupass.com/go/hhtpe01",target="_blank") http://www.accupass.com/go/hhtpe01
    p 由於活動一半時間將放在實際操作，我們希望來參與的朋友能自備筆電，能預先安裝好 #[a(href="http://www.qgis.org/en/site/forusers/download.html") QGIS軟體]。若安裝有問題，要麻煩您活動當天提早報到，我們會安排小助手協助您下載和安裝。
    h3 講師陣容
    .row
      .col-sm-6.speaker
        img.avatar(src="/img/event/161016/jeremy.jpg")
        h4 Jeremy Lin / 林辰峰
        p 一名記者、設計師、電腦工程師，專攻新媒體與資料視覺化。2015 年美國 Google 新聞獎學金得主。台灣文化新聞系、美國加州柏克萊大學新聞所畢。用英文寫新聞，用中文寫評論。曾在紐約時報頭版、華盛頓郵報頭版、德州先鋒報和報導者上寫稿。
      .col-sm-6.speaker
        img.avatar(src="/img/event/161016/mimi.jpg")
        h4 Mimi Chen / 陳貞樺
        p 喜愛圖像大於文字，研究所開始接觸資料視覺化，至今仍在這個坑裡游移探索。目前擔任記者一枚，曾以「繫上歷史上的黃絲帶」數位專輯獲台大公共報導獎多媒體首獎、去年與夥伴製作台灣第一款新聞遊戲「急診人生」，瀏覽人次破二十萬。未來希望持續嘗試用不同形式與技術說出好故事。
    hr
    h3 活動地點
    p
      iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2040.2325568675658!2d121.61478109583136!3d25.05634650096474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442aca780ebce3b%3A0x734aa72b342fb229!2zMTE15Y-w5YyX5biC5Y2X5riv5Y2A5LiJ6YeN6LevNjbomZ8!5e0!3m2!1szh-TW!2stw!4v1475485277595",frameborder="0",style="border:0;width:100%;height:300px",allowfullscreen)
  br
  br
