//- module
.foot.w-100.p-4.bg-dark.text-white: .py-4: .w-1024.rwd.mx-auto
  h3 Hacks/Hackers Taipei
  .sep.sep-light.my-4
  .row
    .col-md-3
      a.d-block(href="https://www.facebook.com/groups/868771643258752/") 臉書社團
      a.d-block(href="https://twitter.com/hackshackerstpe") 推特專頁
      a.d-block(href="https://github.com/hackshackerstaipei/") GitHub
      a.d-block(href="https://www.youtube.com/channel/UCyU45fgMo-jLs9W4h5f701w") Youtube
      a.d-block(href="https://medium.com/hackshackerstaipei/") Medium
    .col-md-3
      a.d-block(href="/about/") 關於我們
      a.d-block(href="https://hackshackers.com/") Hacks/Hackers 
