//- module
.foot.w-100.p-4.bg-dark.text-white: .py-4: .w-1024.rwd.mx-auto
  .row
    .col-md
      h3.mb-4 Hacks/Hackers Taipei
      .row
        .col-md-3
          a.d-block(href="https://www.facebook.com/groups/868771643258752/") 臉書社團
          a.d-block(href="https://twitter.com/hackshackerstpe") 推特專頁
          a.d-block(href="https://github.com/hackshackerstaipei/") GitHub
          a.d-block(href="https://www.youtube.com/channel/UCyU45fgMo-jLs9W4h5f701w") Youtube
          a.d-block(href="https://medium.com/hackshackerstaipei/") Medium
          a.d-block(href="https://github.com/style-guide/") Style Guide
        .col-md-3
          a.d-block(href="/about/") 關於我們
          a.d-block(href="/post/") 文章
          a.d-block(href="/album/") 活動剪影
          a.d-block(href="https://old.accupass.com/org/detail/r/1611210458301528244647/1/0") 活動報名頁面
          .d-block &nbsp;
          a.d-block(href="https://hackshackers.com/") About Hacks/Hackers 

        .col-md-6
          .mb-4: img(src="/assets/img/hh-white.svg",style="height:48px")
          .mb-4: img(src="/assets/img/logo-short.svg",style="height:20px")


