extends /base.pug
block vars
block head
block body
  .typeset.heading-contrast.h-gr.mb-4
    .bg-dark.text-white.w-100.h-100.mb-4: .vertical-center: .w-100: .w-1024.rwd.mx-auto.pt-4
      .d-flex.mb-4
        div(style="flex:2 0 67%;padding-right:15px;")
          .aspect-ratio.ratio-2by1.bg-secondary
        div(style="flex:1 0 33%;padding-left:15px"): .vertical-center: .w-100
          h3.mt-0.mb-2 GEN峰會見聞錄之一：關於資料新聞的未來
          p.text-light.mb-2 我們常在台灣討論資料新聞的內容、團隊編制、流程等面向，但這次峰會提供更宏觀的視野和想像：生態系統的建立。
          .py-1.d-flex.align-items-center
            .mr-2(style="width:2.5em"): .aspect-ratio.ratio-1by1.rounded-circle.bg-secondary
            .text-light.text-sm
              div Haohsiang Ko
              div Jul 5, 2019

  .typeset.heading-contrast
    .w-1024.rwd.mx-auto.pb-4
      .mb-4.d-flex.justify-content-between
        .flex-grow-1: .btn.btn-outline-primary 訂閱電子報
        div
          .input-group
            input.form-control.border-secondary
            .input-group-append
              .btn.btn-outline-secondary 搜尋
      .row
        each i in [1,2,3,4,5,6]
          .col-md-4.mb-4.pb-4
            .aspect-ratio.ratio-16by9.bg-dark.mb-2
            h3.mt-0.mb-2 GEN峰會見聞錄之一：關於資料新聞的未來
            p.text-muted.mb-2 我們常在台灣討論資料新聞的內容、團隊編制、流程等面向，但這次峰會提供更宏觀的視野和想像：生態系統的建立。
            .py-1.d-flex.align-items-center
              .mr-2(style="width:2.5em"): .aspect-ratio.ratio-1by1.rounded-circle.bg-dark
              .text-muted.text-sm
                div Haohsiang Ko
                div Jul 5, 2019

block script
