extends /base.pug
block body
  #past.w-1024.rwd.mx-auto: .py-4.my-4
    h2.mb-4 過往小聚
    .row
      each i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
        .col-md-4.mb-4
          .card.w-100.shadow-sm.pb-4: a.text-dark.text-no-deco(href="/event/latest/")
            .aspect-ratio.ratio-3by2.bg-dark
            .card-body
              .text-muted 第 #{16 - i} 場小聚
              h4.card-title.mt-0.text-truncate 勇者掉進了身為村民的我所做的陷阱裡
              p.card-text Some quick example text to build on the card title and make up the bulo
              .d-flex
                each i in [1,2,3]
                  .mr-2(style="width:2.5em"): .aspect-ratio.ratio-1by1.rounded-circle.bg-secondary
