extends /base.pug
block vars
 - ctrl.navtop.placeholder = false
block head
block body
  .w-100.h-100.text-white.position-relative(style="background:url(/assets/img/hero-bg.jpg) center center fixed #222;background-size:cover")
    .vertical-center: .w-100.text-center
      img.mb-4(src="/assets/img/icon.svg",style="width:3em;opacity:.1;margin-top:-3em")
      h1.display-4.font-weight-bold Hacks/Hackers Taipei
      p 由一群關心新聞 x 科技發展的朋友在台北成立 Hacks/Hackers 在亞洲的第四站。
    .position-absolute.w-100(style="bottom:3em",data-scrollto="#intro")
      img.d-block.mx-auto(src="/assets/img/down.svg",style="width:4em")
  .typeset.heading-contrast.mb-0
    #intro.w-1024.rwd.mx-auto
      .py-4
        .row
          .col-md: .vertical-center: .w-100
            h2 什麼是 Hacks/Hackers？
            .text-justify
              p Hacks/Hackers ( 簡稱H/H ) 是由美國西北大學新聞學院教授Rich Gordon 、Storify 創辦人 Burt Herman、前紐約時報互動新聞主編 Aron Pilhofer 從 2009 年開始逐漸發展出的非營利新聞社群，鼓勵記者編輯 ( Hacks ) 和程式設計師 ( Hackers ) 相互學習、合作，一起想像新聞的未來。
              p 目前全球已有 35 個國家、75 個城市建立 Hacks/Hackers 分支 ( chapter ) ，其他城市的活動可以看這裡、這裡以及這裡。
          .col-md.d-none.d-md-block: .vertical-center: .w-100.text-center
            .aspect-ratio.ratio-16by9.rounded.shadow-sm(style="background:url(/assets/img/map.png) center center no-repeat;background-size:cover")
            //-img(src="/assets/img/hh.svg",style="max-width:320px")
        .py-4.my-4
          a.btn.btn-outline-primary.px-4.mr-2(href="/about/") 了解更多 &#xbb;
          .btn.btn-outline-primary.px-4.mr-2(data-scrollto="#upcoming") 最新活動 &#xbb;
          a.btn.btn-outline-primary.px-4(href="/post/") 所有文章 &#xbb;

    #upcoming.bg-dark.py-4.text-light
      .w-1024.mx-auto.my-4
        .pb-4
          .text-muted Upcoming Activities
          h1.my-0 最新活動
        .d-flex.my-4.pb-4
          div(style="flex:2 0 50%;padding-right:15px;")
            .aspect-ratio.ratio-3by2.bg-secondary
          div(style="flex:1 0 50%;padding-left:15px"): .vertical-center: .w-100
            .text-muted 第 16 場小聚
            h2.mt-0.mb-2 Google 地圖工具工作坊
            .text-muted.mb-2 2020/01/50 13:40 @ 松山菸廠
            p.mb-2.text-light 10月6日（日）Hacks/Hackers Taipei第16次小聚，將邀請專家手把手教你操作Google地圖工具（2D到3D衛星圖），同時還有社群之友分享TechCamp的學習心得。
            .d-flex.my-4
              each i in [1,2,3]
                .mr-2(style="width:2.5em"): .aspect-ratio.ratio-1by1.rounded-circle.bg-secondary
            .my-4: .btn.btn-outline-light 了解更多 &#xbb;

    #post.bg-light.text-dark.w-100.h-100.mb-4: .vertical-center: .w-100: .w-1024.rwd.mx-auto.pt-4.my-4
      .pb-4.text-right
        .text-muted Latest Articles
        h1.my-0 最新文章
      .d-flex.my-4.pb-4
        div(style="flex:1 0 33%;padding-right:15px"): .vertical-center: .w-100
          h2.mt-0.mb-2 GEN峰會見聞錄之一：關於資料新聞的未來
          p.text-dark.mb-2 我們常在台灣討論資料新聞的內容、團隊編制、流程等面向，但這次峰會提供更宏觀的視野和想像：生態系統的建立。
          .py-1.d-flex.align-items-center
            .mr-2(style="width:2.5em"): .aspect-ratio.ratio-1by1.rounded-circle.bg-secondary
            .text-dark.text-sm
              div Haohsiang Ko
              div Jul 5, 2019
        div(style="flex:2 0 67%;padding-left:15px;")
          .aspect-ratio.ratio-2by1.bg-secondary

    .w-1024.rwd.mx-auto.py-4.text-center.mb-4: .py-4
      h2.mb-2 線上參與
      p 除了參與活動以外，何不現在就在線上與其它關注新媒體的夥伴聊聊呢？
      a.btn.btn-lg.btn-outline-primary.my-4(href="https://www.facebook.com/groups/hackshackerstaipei/") 加入臉書社團
block script
  script: :lsc
    smoothScroll!
