extends /base.jade
block head
  script(type="text/javascript",src="index.js")
block body
  #land-banner
    .row
      .col-sm-7
        img.banner(src="img/banner.png")
      .col-sm-5: .inner
        label subscribe to our latest event:
        #subscribe.input-group(style="position:relative")
          input.form-control(placeholder="Your Email Address")
          .state
            img.loader(src="img/loader.gif")
            i.fa.fa-close.text-danger
          span.input-group-btn
            .btn.btn-default(data-toggle="tooltip",data-placement="top")
              span Subscribe#[span.ok d] &nbsp;
              i.ok.fa.fa-check.text-success
        br
        .pull-right.follow
          label ... or follow us on
          a(href="https://www.facebook.com/groups/868771643258752/",target="_blank"): i.fa.fa-facebook-square
          a(href="https://twitter.com/hackshackerstpe",target="_blank"): i.fa.fa-twitter-square
          a(href="https://hhtpe.slack.com",target="_blank"): i.fa.fa-slack

  nav#nav.navbar.navbar-default
    div
      .navbar-header
      .navbar-collapse
        ul.nav.navbar-nav.navbar-right.pull-right
          li: a(href="https://github.com/hackshackerstaipei",target="_blank") #[span github] #[i.fa.fa-github]
          li: a(href="https://calendar.google.com/calendar/embed?src=4f9ctnr08nmq02hfs7vbu8l9f0%40group.calendar.google.com&ctz=Asia/Taipei",target="_blank") #[span calendar] #[i.fa.fa-calendar]
          li: a(href="http://hackfoldr.org/hhtpe",target="_blank") #[span hackfoldr] #[i.fa.fa-folder]
        ul.nav.navbar-nav
          li.active: a(href="#") events
          li(data-toggle="tooltip",data-placement="top",title="coming soon!"): a(href="#") projects
          li: a(href="/about.html") about

  #root
    hr
    .media
      .pull-left
        a(href="#")
          img.media-object(src="img/qgis.jpg",style="width:160px")
      .media-body
        h4.media-heading QGIS 60min Crash Course #[small.grayed / Mimi Chen / 2016-10-16]
        p QGIS is a user friendly Open Source Geographic Information System (GIS) licensed under the GNU General Public License. QGIS is an official project of the Open Source Geospatial Foundation (OSGeo). It runs on Linux, Unix, Mac OSX, Windows and Android and supports numerous vector, raster, and database formats and functionalities.
    hr
  br
  br
  br
  br
